{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     background-color: #1D1D1D;
   }
   main {
     width: 75vw;
     margin: 25px auto;
     display:flow-root;
   }
   h1 {
     margin: 25px auto;
     color: #fbfaf8;
   }
   h2 {
     color: #ffffff;
     margin: 20px auto;
   }
   h3 {
     text-decoration: underline;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #fbfaf8;
     margin: 20px auto 0px;
   }
   p {
     color: #ffffff;
   }